
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="text-align: center; height:100%; font-weight:lighter">
    <div style="margin-top: 200px"><h1>欢迎使用后台管理系统</h1></div>
</div>

