@model ZTB.OA.Model.RoleInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Ajax.BeginForm(new AjaxOptions() { OnSuccess = "afterSuccess", HttpMethod = "Post" }))
{

    <div class="form-group">
        角色名称：
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        备注：
        <div class="col-md-10">
            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="确定" class="btn btn-info btn-block" />
        </div>
    </div>
}

@section Scripts {
    <script>
         $(document).ready(function () {
            $('form').validate({
                rules: {
                    RoleName: { required: true },
                    messages: {
                        Name: "请输入角色名"
                    }
                }
            });
        });

        function afterSuccess(data) {
            if (data == "ok") {
                parent.window.showSuccess("添加成功");
                parent.$("input[name=roleName]").val("");
                parent.$("#searchForm").submit();
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            } else {
                parent.window.showError("添加失败");
            }
        };
    </script>
}
