
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <form action="@Url.Action("ProModifyHead")" enctype="multipart/form-data" method="post">
            <div class="col-sm-12">
                <img id="ferret" src="" alt="It's coming right for us!" title="It's coming right for us!"
                     style="float: left; margin-right: 10px; width: 400px; height: 300px" />
                <input type="hidden" name="x1" value="" />
                <input type="hidden" name="y1" value="" />
                <input type="hidden" name="x2" value="" />
                <input type="hidden" name="y2" value="" />
                <input id="loadFile" type="file" name="name" onchange="readURL(this);" />
                <input type="submit" name="submit" value="保存" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>

        //绘制小图
        function preview(img, selection) {
            var scaleX = 100 / (selection.width || 1);
            var scaleY = 100 / (selection.height || 1);

            $('#ferret + div > img').css({
                width: Math.round(scaleX * 400) + 'px',
                height: Math.round(scaleY * 300) + 'px',
                marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
                marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
            });
        }

        $(document).ready(function () {
            //添加小图
            $('<div><img id="ferret1"  src="" style="position: relative;" /><div>').css({
                float: 'left',
                position: 'relative',
                overflow: 'hidden',
                width: '100px',
                height: '100px'
            }).insertAfter($('#ferret'));

            //主图编辑
            $('#ferret').imgAreaSelect({
                x1: 120, y1: 90, x2: 280, y2: 210, aspectRatio: '4:3', onSelectChange: preview, onSelectEnd: function (img, selection) {
                    $('input[name="x1"]').val(selection.x1);
                    $('input[name="y1"]').val(selection.y1);
                    $('input[name="x2"]').val(selection.x2);
                    $('input[name="y2"]').val(selection.y2);
                }
            });


        });
        //本地预览
        function readURL(input) {
            var strSrc = $("#loadFile").val();

            //验证上传文件格式是否正确
            var pos = strSrc.lastIndexOf(".");
            var lastname = strSrc.substring(pos, strSrc.length);
            if (lastname.toLowerCase() != ".jpg") {
                alert("您上传的文件类型为" + lastname + "，图片必须为 JPG 类型");
                return false;
            }

            //验证上传文件是否超出了大小
            if (input.files[0].size / 1024 > 150) {
                alert("您上传的文件大小超出了150K限制！");
                return false;
            }


            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ferret').attr('src', e.target.result);
                    $('#ferret1').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}

