@model IEnumerable<ZTB.OA.Model.WP_Temp>
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:10px; margin-bottom:10px">
    <input type="button" value="添加行" id="createBtn" class="btn btn-primary" />
    <div class="form-inline" style="float:right">
        @using (Ajax.BeginForm("Index", "WFTemp", new AjaxOptions()
        {
            HttpMethod = "Get",
            UpdateTargetId = "table",
            OnComplete = "PagedOnComplete"//防止ajax刷新后不能绑定事件
        }, new { id = "searchForm" }))
        {

            <input type="text" class="form-control" name="name" placeholder="用户名">
            <input type="text" class="form-control" name="pwd" placeholder="密码">
            <button type="submit" class="btn btn-info">搜索</button>
        }
    </div>
</div>

<div id="table">
    @Html.Partial("DataTablePartial")
</div>

@section Scripts {
    <script>

        function PagedOnComplete() {
            //编辑
            $(".table a[name='modify']").on("click", function () {
                var id = $(this).attr('data-id');
                layer.open({
                    type: 2,
                    title: '工作流模板修改',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['60%', '90%'],
                    content: '@Url.Action("Modify")' + '/' + id
                });
            });

            //删除
            $(".table a[name='delete']").on('click', function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "提示",
                    text: "确定删除么?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete")',
                        data: { id: id },
                        success: function (data) {
                            if (data == "ok") {
                                swal({
                                    title: "提示",
                                    text: "删除成功",
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: "#AEDEF4",
                                    confirmButtonText: "确定",
                                    timer: 2000,
                                    closeOnConfirm: false,
                                }, function () {
                                    $("#searchForm").submit();
                                });
                            } else {
                                swal("Deleted!", "No", "error");
                            }
                        }
                    });
                });
            });
        }

        $(document).ready(function () {
            $("#createBtn").click(function () {
                layer.open({
                    type: 2,
                    title: '工作流模板添加',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['60%', '90%'],
                    content: '@Url.Action("Create")'
                });
            });
            PagedOnComplete();
        });
    </script>
}