<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

public class T4Demo{

<# for (int i = 0; i < 10; i++)
   {#>
			public int Demo<#= i #>{ get; set; }
   <#} #>
}